body {
    margin-left:    5%;
    margin-right:   5%;
}

/*
 Reference:
 http://matthewjamestaylor.com/blog/beautiful-css-centered-menus-no-hacks-full-cross-browser-support
 */
.centering {
    position:       relative;
    float:          left;
    clear:          left;
    width:          100%;
}

.centering > * {
    position:       relative;
    float:          left;
    clear:          left;
    left:           50%;
}

.centering > * > * {
    position:       relative;
    float:          left;
    clear:          left;
    right:          50%;
    display:        block;
}

div#header {
    border-bottom:   2px solid black;
}

#header h1 {
    font-family:     "Andale Mono",monospace;
    color:           black;
    font-size:       120%;
    text-transform:  lowercase;
}

#header h1 a {
    text-transform:  uppercase;
    letter-spacing:  10px;
    text-decoration: none;
    font-family:     "Andale Mono",monospace;
    color:           black;
    font-size:       180%;
}

#credits {
    list-style:     none;
    padding:        0.2em;
}

div#content {
    float:     left;
    position:  relative;
    width:     100%;
}

div#left-column {
    float:     left;
    position:  relative;
    width:     30%;
    padding:   1em;
}

div#right-column {
    float:     left;
    position:  relative;
    width:     65%;
}

#nav ul a {
    text-decoration: none;
    text-transform:  uppercase;
    font-size:       80%;
    font-family:     sans;
}

#nav ul {
    list-style:      none;
    margin-left:     0px;
    padding-left:    0px;
    padding-bottom:  0.3em;
}


#nav ul li {
    margin-left:     0px;
    padding-left:    0px;
}

div#result {
    margin-bottom:   2em;
    margin:          0;
    padding:         0;
}

div#result ul {
    padding:          1.5em;
    text-transform:   uppercase;
    text-align:       left;
    font-family:      courier,monospace;
    font-weight:      bold;
    font-size:        150%;
/*    border:           2px #dddddd solid; */
    list-style-type:  none;
}

div#result ul > li {
    padding:          0.2em;
    margin-left:      0pt;
}

div#result ul > li > span._2 { color: red; }
div#result ul > li > span._3 { color: blue; }
div#result ul > li > span._4 { color: magenta; }
div#result ul > li > span._5 { color: orange; }
div#result ul > li > span._6 { color: purple; }

div.error {
    padding:         0.5em;
    border:          1px solid red;
    background-color: #ffcccc;
}

form {
    margin-top:      0.5em;
}